   /***********************************/
  /* Estilização da página principal */
 /*         Mobile - First          */
/***********************************/

/* Corpo da página */
body {
    align-items: center;
    background-color: rgba(70, 42, 104, 1.00);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container-principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    align-items: center;
    background-color: rgba(109, 65, 161, 1.00);
    display: flex;
    flex-direction: column;
    
}

/* Área do título */
.area-titulo {
    /*border: solid;*/
    display: flex;
    width: 100vw;
}

/* Título */
.titulo {
    align-items: center;
    /*border: solid;*/
    display: flex;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    width: 80%;
}

/* Área do logotipo */
.area-logo {
    align-items: center;
    /*border: solid;*/
    display: flex;
    width: 20%;
}

/* Imagem logo*/
.area-logo img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Área de navegação */
nav {
    align-items: center;
    border-top: solid 1px;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Menu da lista de navegação */
nav ul {
    /*border: solid;*/
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 40%;
}

nav ul li {
    font-size: 1.5rem;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Usuários e novos usuários */
.usuarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: solid;*/
    position: absolute;
    margin: 0px 0px 0px 700px;
    padding: 0px;
    width: auto;
}

.usuarios a {
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Sub menu dos usuarios */
.sub-usuarios {
    border: solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 350px 0px 0px -52px;
    padding: 0;
    position: absolute;    
    width: 150px;
    float: initial;
}

.sub-usuarios ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;    
    width: 150px;
}


/* Card principal */
.card-principal {
    align-items: center;
    background-color: rgba(109, 65, 161, 1.00);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 50vh;
    margin: 50px 0px 0px 0px;
    width: 70vw;
}

/* Área de cadastro */
.cadastro {
    /*border: solid 2px;*/
    margin: 0;    
} 

/* Lista principal colunas - inputs digitaveis e selecionaveis */
.lista-principal {
    /*border: solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 35vw;
} 

/* Lista principal colunas - inputs digitaveis e selecionaveis */
.lista-principal ul li {
    /*border: solid;*/
    list-style: none;
    margin: 0;
    padding: 0;
    width: 15vw;
}

/* Ajuste dos inputs da lista principal */
.lista-principal input {
    margin: 0;
    padding: 0;
}

/* Ajuste dos selects da lista principal */
.lista-principal select {
    /*border: solid 5px;*/
    display: inline;
    margin: 0;
    padding: 0;
}

/* Conteúdo do label identificação em texto da lista principal */
/*.lista-principal label {
    border: solid;
    width: 25vw;
   
}*/

/* Ajustar espaçamento entre label e input */
.label-e {
    /*border: solid;*/
    display: inline-block;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 9.5vw;
}

/* Cadastrar livros */
.cadastrar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título da seção do cadastro */
.titulo-cadastro h1 {
    border-bottom: solid;
    font-size: 4rem;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Seção de idiomas */
.secao-idiomas {
    display: flex;
}

/* Lista de opções de idiomas */
.lista-idiomas {
    /*border: solid;*/
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
} 

.lista-idiomas ul li {
    list-style: none;
}

/* Área do botão de cadastrar */
.botao-cadastrar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

/*<button class="button-56" role="button">Button 56</button>*/

/* CSS Botão de cadastrar personalizado*/
.button-56 {
  align-items: center;
  background-color: rgba(70, 42, 104, 1.00);
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: rgba(109, 65, 161, 1.00);
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
 
/* Área dos códigos php */
.funcoes-php {
    align-items: center;
    /*border: solid 2px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    width: 20vh;
}























/* Rodapé */
.rodape {
    align-items: center;
    background-color: rgba(109, 65, 161, 1.00);
    bottom: 0;
    color: white;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100vw;
}

/**********************************************************************************/
/* Espaço entre seções de pesquisa */
.espaco-secoes {
    display: flex;
    position: relative;
    border: solid;
    margin: 50px 0 0 0;
    padding: 50px;
    height: 900px;
}



 /*************************************************/
/* Exclusivo página de pesquisar */

/* Seção onde mostra os dados puxados do banco de dados */
.lista-cadastrados {
    align-items: center;
    /*border: solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 0 0;
}

/* Área de pesquisar ajustes */
.titulo-pesquisar h1 {
    border-bottom: solid;
    font-size: 4rem;
    margin: 0 0 10px 0;
    padding: 0;
}

/* Área da inserção de dados a ser pesquisados */
.insercao-pesquisa {
    align-items: center;
    /*border: solid;*/
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

/* Barra de pesquisa */
.barra-pesquisa {
    border-radius: 5px;
}

/* Botão confirmar pesquisa */
.botao-pesquisa {
    border: none;
    background-color: rgba(109, 65, 161, 1.00);
    color: white;
}

.botao-pesquisa:hover {
    color: rgb(195, 0, 255);
}

/* Cabeçalho da lista de pesquisa */
.cabecalho-lista-pesquisar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Tabela com lista de pesquisa */
.tabela-lista-pesquisar {
    display: flex;
    margin: 0;
    padding: 0;
}

.tabela-lista-pesquisar tr {
    align-items: center;
    /*border: solid;*/
    display: flex;    
    
    justify-content: center;    
    margin: 0;
    padding: 0;
    width: auto;
}

.tabela-lista-pesquisar th {
    align-items: center;
    /*border: solid;*/
    display: inline-block;
    justify-content: center;    
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
    width: 80px;
}

.tabela-lista-pesquisar td {
    align-items: center;
    /*border: solid;*/
    /*display: inline-block;*/
    justify-content: center;    
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80px;
}



/* Botões de editar */
.botões-editar {
    border: none;
    background-color: rgba(109, 65, 161, 1.00);
    color: white;
}

/* Mouse sobre o botão */
.botões-editar:hover {
    color: rgb(195, 0, 255);
}